---
layout: default
title: Biography
active: bio
---

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

			<div id="section-features" class="heading-block title-center page-section">
				<h2>Education</h2>
			</div>
			{% assign unis = site.education | sort: 'end_date' | reverse%}
			{%for uni in unis%}
			{% if forloop.last == true %}
  		<div class="col_one_third col_last">
			{% else %}
			<div class="col_one_third">
			{% endif %}
  			<div class="feature-box fbox-plain fbox-center">
  				<div class="fbox-icon" data-animate="bounceIn">
  					<a href="{{uni.institution_url}}"><img src="{{uni.img_url}}" alt="{{uni.institution}}"></a>
  				</div>
  				<h3>{{uni.degree}}</h3>
  				<p>{{uni.institution}}</p>
          <p>{{uni.city}} - {{uni.country}}</p>
  				<p>{{ uni.end_date | date_to_long_string }}</p>
  			</div>
  		</div>
			{% endfor %}

      <div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
			<div id="section-features" class="heading-block title-center page-section">
				<h2>Honors & Awards</h2>
			</div>
      <div class="container clearfix">
  			<div class="col_one_half">
  				<div class="postcontent nobottommargin clearfix">
  					<div class="feature-box fbox-plain">
  						<div class="fbox-icon" data-animate="bounceIn">
  							<a href="http://jisic.epn.edu.ec/index.php/"><img src="../images/bio/jisic.png" alt="JISIC 2017"></a>
  						</div>
  						<h3>Best Paper Award</h3>
  						<p>VII Jornadas de Informática, Sistemas e Informática JISIC 2017</p>
  					</div>
          </div>
        </div>
      </div>

			<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
			<div id="section-features" class="heading-block title-center page-section">
				<h2>Skills</h2>
			</div>
			<div class="container clearfix">
				<div class="row nobottommargin clearfix">

					<div class="col">
						<div class="rounded-skill nobottommargin" data-color="#00ACEE" data-size="100" data-percent="80" data-width="2" data-speed="4000">
							Julia
						</div>
					</div>

					<div class="col">
						<div class="rounded-skill nobottommargin" data-color="#00ACEE" data-size="100" data-percent="95" data-width="2" data-speed="4000">
							Python
						</div>
					</div>

					<div class="col">
						<div class="rounded-skill nobottommargin" data-color="#3B5998" data-size="100" data-percent="90" data-width="3" data-speed="4000">MATLAB</div>
					</div>

					<div class="col">
						<div class="rounded-skill nobottommargin" data-color="#3B5998" data-size="100" data-percent="90" data-width="3" data-speed="4000">HTML5</div>
					</div>

					<div class="col">
						<div class="rounded-skill nobottommargin" data-color="#EA4C89" data-size="100" data-percent="80" data-width="4" data-speed="4000">C/C++</div>
					</div>

				</div>
			</div>


			<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
			<div id="section-features" class="heading-block title-center page-section">
				<h2>Experience</h2>
			</div>
			<div class=" row container clearfix">
				{% assign jobs = site.experience | sort: 'end_date' | reverse%}
				{%for job in jobs %}
				{% assign loopindex = forloop.index | modulo: 2 %}
				{% if forloop.last == true or loopindex == 1 %}
	  			<div class="col">
				{% else %}
				<div class="col">
				{% endif %}
					<div class="feature-box fbox-plain">
						<div class="fbox-icon" data-animate="bounceIn">
							<a href="{{job.institution_url}}"><img src="{{job.img_url}}" alt="{{job.institution}}"></a>
						</div>
						<h3>{{job.position}}</h3>
						<p>{{job.institution}}</p>
						<p>{{job.start_date | date_to_string }} - {{ job.end_date | date_to_string }}</p>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="divider divider-short divider-center"><i class="icon-circle"></i></div>
			<div id="section-features" class="heading-block title-center page-section">
				<h2>Seminars</h2>
			</div>
			<div class="row">
			{% assign sems = site.seminars | sort: 'end_date' | reverse%}
			{%for seminar in sems%}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if forloop.last == true or loopindex == 1 %}
  			<div class="col">
			{% else %}
			<div class="col">
			{% endif %}
				<div class="feature-box fbox-plain">
					<div class="fbox-icon" data-animate="bounceIn">
						<a href="#"><img src="{{seminar.img_url}}" alt="{{seminar.institution}}"></a>
					</div>
					<h3>{{seminar.subject}}</h3>
					<p>{{seminar.institution}}</p>
					<p>{{seminar.start_date | date_to_string }} - {{ seminar.end_date | date_to_string }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		</div>
  </div>
</section>
