<!-- Footer
============================================= -->
<footer id="footer" class="dark">

	<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				<img src="/images/logo_small2.png" alt="Footer Logo" class="footer-logo">

				Copyrights &copy; 2017 All Rights Reserved by Guaytambosoft Inc.

			</div>

			<div class="col_half col_last tright">
				<div class="copyrights-menu copyright-links fright clearfix">
					<a href="/">Home</a>/<a href="/bio">Bio</a>/<a href="/research">Research</a>/<a href="/code">Code</a>/<a href="/teaching">Teaching</a>/<a href="/blog">Blog</a>/<a href="/contact">Contact</a>
				</div>
				<div class="fright clearfix">
					<a href="https://www.facebook.com/dvillacisproano" class="social-icon si-small si-borderless nobottommargin si-facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="https://twitter.com/davillacis" class="social-icon si-small si-borderless nobottommargin si-twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>

					<a href="https://plus.google.com/101804704377950549504" class="social-icon si-small si-borderless nobottommargin si-gplus">
						<i class="icon-gplus"></i>
						<i class="icon-gplus"></i>
					</a>

					<a href="https://www.instagram.com/davillacis" class="social-icon si-small si-borderless nobottommargin si-instagram">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>

					<a href="https://github.com/dvillacis" class="social-icon si-small si-borderless nobottommargin si-github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>

					<a href="https://www.linkedin.com/in/davidvillacis" class="social-icon si-small si-borderless nobottommargin si-linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
				</div>
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->
