<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/plugins.js"></script>
<script type="text/javascript" src="/js/typed.min.js"></script>

<!-- Google Maps
============================================= -->
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyACeeu1jEL45xNnt71iAsWqhZrUUg2lBxs"></script>
<script type="text/javascript" src="/js/jquery.gmap.js"></script>

<!-- Search
============================================= -->
<script type="text/javascript" src="/js/super-search.js"></script>

<!-- Disqus
============================================= -->
<script id="dsq-count-scr" src="//image-processing-blog.disqus.com/count.js" async></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/js/functions.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
